# I - **INTRODUCTION TO PANDAS**

![](https://i.pinimg.com/474x/6a/18/df/6a18dff64059bb388ed1046c0f2cc350.jpg) 

**Python** is the most popular programming language used in Data Science. Not only the incredible speed, Python also offers a good amount of libraries that are dedicated for certain jobs in Data Science, from data analysing to running statistical tests and so on. 

Let's get started!

## 1- Import libraries

**Install pandas**

+ Open *Anaconda Powershell Prompt*
+ Activate your environment: `conda activate <your_enviroment_name>`
+ Install Pandas into your environment: `pip install pandas`

In [ ]:
# Install pandas library:
! pip install pandas

In [ ]:
# Import Pandas
import pandas as pd

## 2- Read and Overview

#### 2.1- Load .csv

In [ ]:
# Load CSV file
# Tips: If your data is on Dropbox, change the link's ending part from dl=0 to dl=1
# pd.read_sql, pd.read_excel

# Read csv file from a link:
df = pd.read_csv('https://www.dropbox.com/s/vnkhtwm4m67khqb/demographic_data.csv?dl=1')

In [ ]:
# Check type:
type(df)

In [ ]:
# show first 5 rows:
df.head(10)

üëâ Read from **Relative Path**

In [ ]:
# data\demographic_data.csv

# C:\Users\Lenovo\OneDrive\Desktop\my_courses\10 days of python\Lecture 4 - Pandas\data\demographic_data.csv

In [ ]:
df2 = pd.read_csv('data\\demographic_data.csv')

In [ ]:
df2.head()

üëâ Read from **Full Path**

In [ ]:
df3 = pd.read_csv('C:\\Users\\Lenovo\\OneDrive\\Desktop\\my_courses\\10 days of python\\Lecture 4 - Pandas\\data\\demographic_data.csv')
df3.head()

#### 2.2- Overview

In [ ]:
# Show the first 5 rows
df.head()

In [ ]:
# Show the first n rows:
df.head(15)

In [ ]:
# Show the last 5 rows (or last n rows)
df.tail()

In [ ]:
# show the last 10 rows:
df.tail(10)

In [ ]:
# Show 5 random rows
df.sample(10)

üëâ Dataframe's shape:

In [ ]:
# Show shape of the dataframe
df.shape

üëâ Dataframe's infos: datatype, null count

In [ ]:
# Show info
df.info()

In [ ]:
# In case df.info() not show non-null count:
df.info(show_counts=True)

üëâ Describe dataframe: descriptive statistics.

In [ ]:
# Overview descriptive statistics of numeric columns:
df.describe()

In [ ]:
# Overview descriptive statistics of all columns:
df.describe(include='all')

> **Mean, median, mode, range:**

<img src="https://images.squarespace-cdn.com/content/v1/54905286e4b050812345644c/1626904601177-6NNQ5U9GIX0XKG64AB0B/Snip20210721_15.png" width="600">


> **Standard Deviation (STD)**
+ When two data sets have the same mean, the one with higher STD is more variability than the one lower STD. 
+ In the case of two data sets with unequal mean values, it is not meaningful to compare their STD.

<img src="https://unitrain.edu.vn/wp-content/uploads/2022/02/Capture-3.png" width="600">

üëâ Show all columns:

In [ ]:
# get list of all columns
df.columns

#### 2.3- Select single or multiple columns:

In [ ]:
# Select a column
df['Income Group']

In [ ]:
# Select multiple columns:
df[['Birth rate', 'Country Code']]

In [ ]:
# Overview of categorical columns
df['Income Group'].describe()

üëâ Get unique values:

In [ ]:
# Get all values in a series (=field = column)
df['Income Group'].unique()

üëâ Get number of unique values:

In [ ]:
df['Income Group'].nunique()

üëâ Get value counts:

In [ ]:
# See distribute of a series
df['Income Group'].value_counts()

## 3- Filter

***Comparison in Pandas:***

```python
        equal: ==

        different: !=

        more than: >

        less than: < 

        more than or equal: >=

        less than or equal: <=
        
        and: &

        or: |

```

In [ ]:
df.head()

In [ ]:
# Get all rows with Birth rate > 20:
df[df['Birth rate'] > 20]

In [ ]:
# Choose all data with Internet rate less than 20
# YOUR CODE HERE:
df[df['Internet users'] <= 20]

In [ ]:
# Birth rate > 20 AND Internet users < 3
df[(df['Birth rate'] > 20) & (df['Internet users'] < 3)]

In [ ]:
# Birth rate > 40 OR Internet users < 3
df[(df['Birth rate'] > 40) | (df['Internet users'] < 3)]

In [ ]:
# Show me which contries have: (15 < Birth rate < 16) OR (43 < Internet users < 44):
# Your code here:
df[((df['Birth rate'] > 15) & (df['Birth rate'] < 16)) | ((df['Internet users'] > 43) & (df['Internet users'] < 44))]

In [ ]:
df[df['Income Group'] == 'High income']

## 4- Location `.loc[] / .iloc[]`

<img src="https://dataindependent.com/wp-content/uploads/2021/12/Screen-Shot-2020-09-20-at-9.35.33-AM-1024x666-1.png" width="600">

### 4.1- loc - Direct Location on DataFrame

In [ ]:
df.head()

In [ ]:
# Get all field country Code:
df.loc[:, 'Country Code']

In [ ]:
df.loc[:, ['Country Code', 'Internet users']]

In [ ]:
# Get Vietnam's country code:
df.loc[df['Country Name'] == 'Vietnam', 'Country Code']

In [ ]:
# Get Aruba, Albania, Vietnam internet users and Income Group:
# df.loc[df['Country Name'].isin(['Aruba', 'Albania', 'Vietnam']), ['Internet users', 'Income Group']]
df.loc[df['Country Name'].isin(['Aruba', 'Albania', 'Vietnam']), ['Internet users', 'Income Group']]

In [ ]:
df.head()

In [ ]:
# Get all countries from Aruba to United Arab Emirates:
# df.loc[[0, 1, 2, 3, 4], ['Country Name','Income Group', 'Internet users']]
df.loc[ [0, 1, 2, 3, 4] , :]

In [ ]:
df.loc[:4, :]

üëâ Change value:

In [ ]:
df.head()

In [ ]:
# Change Income Group of Vietnam to High Income:
df.loc[df['Country Name'] == 'Vietnam', 'Income Group'] = 'High Income'

In [ ]:
df.loc[df['Country Name'] == 'Vietnam']

In [ ]:
# Change Internet user of Aruba and Afghanistan, Albania:
df.loc[df['Country Name'].isin(['Aruba', 'Afghanistan', 'Albania']), 'Internet users'] = [90, 10, 80]

### 4.2. iloc - Integer Location on DataFrame

In [ ]:
df.head()

In [ ]:
# get all values of country code:
df.loc[:, 'Country Code']

In [ ]:
# Select the whole row --- integer loc
df.iloc[3]

In [ ]:
df.head()

In [ ]:
# Select a certain data point: get birth rate of Albania:
df.iloc[3, 2]

In [ ]:
# Choose all countries to United Arab Emirates:
df.iloc[:5]

In [ ]:
# Vietnam has index is 186, Can you help me to get Birth rate, Internet users and Income Group of Vietnam by using .iloc[]
# Your code here:
df.iloc[186, 2:]

üëâ Change value:

In [ ]:
# Change Internet users of Angola to 100:
df.iloc[2, 3] = 100

In [ ]:
# Change Internet users of Aruba, Afghanistan, Albania to [20, 40, 60]:
df.iloc[ [0, 1, 3] , 3] = [20, 40, 60]

In [ ]:
df.set_index('Country Name', inplace = True)

In [ ]:
df.loc['Afghanistan', 'Birth rate']

In [ ]:
df.iloc[1, 1]

## 5- Aggregation Functions

**The Popular Aggregation Functions in Pandas**

`mean()`: Compute mean of groups

`sum()`: Compute sum of group values

`count()`: Compute count of group

`std()`: Standard deviation of groups

`var()`: Compute variance of groups

`describe()`: Generates descriptive statistics

`first()`: Compute first of group values

`last()`: Compute last of group values

`nth()`: Take nth value, or a subset if n is a list

`min()`: Compute min of group values

`max()`: Compute max of group values

In [ ]:
# Reload dataframe
df = pd.read_csv('data\\demographic_data.csv')

In [ ]:
# Get average of internet users
df['Internet users'].mean()

In [ ]:
# Get min of birth rate:
df['Birth rate'].min()

In [ ]:
# Get max of Birth rate:
# Your code here
df['Birth rate'].max()

In [ ]:
# Which country has largest Internet users
max_inter_users = df['Internet users'].max()
max_inter_users

In [ ]:
df[df['Internet users'] == max_inter_users]

In [ ]:
# Calculate mean of Internet users of Low income countries:
df[df['Income Group'] == 'Low income']['Internet users'].mean()

In [ ]:
# Comparing birth rate mean of Low income contries and High income countries:
# 1: Calculate birth rate mean of Low income countries:
# your code here:
df[df['Income Group'] == 'Low income']['Birth rate'].mean()

In [ ]:
# 1: Calculate birth rate mean of high income countries:
# your code here:
df[df['Income Group'] == 'High income']['Birth rate'].mean()

## 6- Sort value:

In [ ]:
df.head()

In [ ]:
# Sort value by internet users following from small to big (A->Z)
df = df.sort_values('Internet users')
df

In [ ]:
# Sorting by internet users from big to small (Z->A)
df.sort_values('Internet users', ascending = False, inplace = True)
df

In [ ]:
# Sort Country name from A->Z:
df.sort_values('Country Name', inplace = True)
df

In [ ]:
# Find top 10 country by Largest birth rate:
df.sort_values('Birth rate', ascending = False).head(10)


## 7- Concatinating multiple dataframes:

<img src="https://datascienceparichay.com/wp-content/uploads/2020/09/pandas-concat-dataframes.png" width="600">

With concatenation, your datasets are just stitched together along an axis ‚Äî either the row axis or column axis.

In [ ]:
df.head()

In [ ]:
# Load demographic_data_2 table:
df2 = pd.read_excel('data\demographic_data_2.xlsx')
df2.head()

In [ ]:
# If you face the bug "'Missing optional dependency 'openpyxl'" then run this code to install openyxl library
# after that, run the above one again.
! pip install openpyxl

In [ ]:
# Concat 2 tables:
pd.concat([df, df2], axis = 0)

In [ ]:
# Concat 2 tables with ignore_index:
df3 = pd.concat([df, df2], axis = 0, ignore_index = True)
df3

## 8- Merge (Join) 2 dataframes:

<img src="https://data36.com/wp-content/uploads/2018/08/4-pandas-merge-inner-outer-left-right-1024x771.png" width="600">

> When you want to combine data objects based on one or more keys, similar to what you‚Äôd do in a relational database, merge() is the tool you need. More specifically, merge() is most useful when you want to combine rows that share data.

In [ ]:
df.head()

In [ ]:
# Load income group table:
income_gr = pd.read_excel('data\\income_group.xlsx')
income_gr.head()

In [ ]:
# Now you want to know detail of each Income group, but this information was stored in income_group table.
# So, to get them, you need to use merge function:
df = pd.merge(
    left = df,
    right = income_gr[['Income Group', 'Income (updated)']],
    how = 'left',
    on = 'Income Group'
)

In [ ]:
# Incase how = 'right':
df4 = pd.merge(
    left = df,
    right = income_gr[['Income Group', 'Income (updated)']],
    how = 'right',
    on = 'Income Group'
)

## 9- Field Operators

In [ ]:
df.head()

In [ ]:
# Example: Add 5 to Birth rate:
df['New birth rate'] = df['Birth rate'] + 5
df

In [ ]:
# Example: 50% of birth rate:
df['new birth rate 2'] = df['Birth rate'] * 0.5
df

In [ ]:
# Ex4: Birth rate * Internet users
df['temp'] =  df['Birth rate'] * df['Internet users']
df

## 10- Save file:

In [ ]:
# Save dataframe as csv file:
df.to_csv('export_data\\country_demography_tam.csv', index = False)

In [ ]:
df5 = pd.read_csv('export_data\\country_demography_tam.csv')
df5

In [ ]:
# Save dataframe as excel file:
df.to_excel('export_data\\country_demography_tam_Excel.xlsx', index = False)

In [ ]:
pd.read_excel('export_data\\country_demography_tam_Excel.xlsx')

# II - **LEVEL-UP PANDAS**

Hello and welcome back to Pandas. In the previous session, we have learnt how to load and overview the dataset with Pandas, also some basic syntax to select, filter and sort. 

In today session, we will continue to explore further in 
- Groupby
- Apply
- Pivot_table
- Time series

In [ ]:
df = pd.read_csv('data\\restaurant.csv')
df.head()

## 1- Groupby

By `groupby` we are referring to a process involving one or more of the following steps:
* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

<img src="https://www.w3resource.com/w3r_images/pandas-groupby-split-apply-combine.svg" width="600">

**Common Aggregation Functions in Pandas**

`mean()`: Compute mean of groups

`sum()`: Compute sum of group values

`size()`: Compute group sizes

`count()`: Compute count of group

`std()`: Standard deviation of groups

`var()`: Compute variance of groups

`describe()`: Generates descriptive statistics

`first()`: Compute first of group values

`last()`: Compute last of group values

`nth()`: Take nth value, or a subset if n is a list

`min()`: Compute min of group values

`max()`: Compute max of group values```

In [ ]:
df.head()

In [ ]:
# Trung b√¨nh tip theo ng√†y:
df.groupby('day')['tip'].mean()

In [ ]:
# Chuy·ªÉn th√†nh d·∫°ng dataframe
df.groupby('day')['tip'].mean().reset_index()

In [ ]:
# ü§î Ng√†y n√†o c√≥ t·ªïng Total_bill l√† nhi·ªÅu nh·∫•t:
# Your code here
df.groupby('day')['total_bill'].sum().reset_index()

***Group by multiple values, one method***

In [ ]:
df.head()

In [ ]:
# GROUP BY TWO COLUMNS: Groupby the dataset by day and sex
# Between Male and Female who has mean of tip more?
df.groupby(['day', 'sex'])['tip'].mean().reset_index()

***Groupby one value, multiple methods***

In [ ]:
# Groupby on one value, multiple methods. --> H√†m .agg
df.groupby('day')['tip', 'total_bill'].mean()

In [ ]:
# V·ª´a t√≠nh trung b√¨nh v√† v·ª´a t√≠nh t·ªïng ti·ªÅn tip v√† total bill theo ng√†y:
df.groupby('day')['tip', 'total_bill'].agg(['mean', 'sum'])

***Groupby multiple values, multiple methods***

In [ ]:
# Groupby on multiple values, multiple methods.
# D√πng dictionary ƒë·ªÉ assign t·ª´ng method cho t·ª´ng value 
# df.groupby('day').agg({'tip': 'sum', 'total_bill': 'mean'}).reset_index()
df.groupby('time')['tip', 'total_bill'].agg(
    {
        'tip': 'mean', 
        'total_bill': 'sum'
    }
).reset_index()

## 2- Pivot Table

A pivot table is a table of statistics that summarizes the data of a more extensive table. This summary might include sums, averages, or other statistics, which the pivot table groups together in a meaningful way.


OFFICIAL DOCUMENTATION ‚ñ∏ https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

EXPLANATION ‚ñ∏ https://pbpython.com/pandas-pivot-table-explained.html

<img src="https://pandas.pydata.org/docs/_images/reshaping_pivot.png" width="600">

In [ ]:
# Trung b√¨nh total bill c·ªßa nam v√† n·ªØ trong c√°c ng√†y trong tu·∫ßn - groupby:
df.groupby(['day', 'sex'])['total_bill'].mean()

In [ ]:
# Trung b√¨nh total bill c·ªßa nam v√† n·ªØ trong c√°c ng√†y trong tu·∫ßn - pivot table
pd.pivot_table(
    data = df,
    values= 'total_bill',
    index = 'day',
    columns= 'sex',
    aggfunc= 'mean'
)

In [ ]:
# Perform pivot table on multiple value.
# Trung b√¨nh ti·ªÅn tip v√† total_bill c·ªßa nam v√† n·ªØ trong c√°c ng√†y trong tu·∫ßn
pd.pivot_table(
    data = df,
    values= ['tip', 'total_bill'],
    index = 'day',
    columns= 'sex',
    aggfunc= 'mean'
)

In [ ]:
# Perform pivot table on multiple value and multiple aggregation function
# ƒê·ªëi v·ªõi ti·ªÅn tip ta t√≠nh mean, c√≤n ti·ªÅn bill ta t√≠nh sum:
pd.pivot_table(
    data = df,
    values= ['tip', 'total_bill'],
    index = 'day',
    columns= 'sex',
    aggfunc= {
        'tip': 'mean',
        'total_bill': 'sum'
    }
)

## 3- Apply

The Pandas `apply()` is used to apply a function along an axis of the DataFrame or on values of Series.

Classify if ```tip``` amount > 3 then High, else it is Low.

In [ ]:
df.head()

In [ ]:
# Function nh·∫≠n parameter l√† t·ª´ng row 
def check_tip(r):
    if r['tip'] >= 3:
        return 'high tip'
    else:
        return 'low tip'
    
%time
df['cus_type'] = df.apply(check_tip, axis = 1)

In [ ]:
# x√©t total_bill, ch·ªâ x√©t cho n·ªØ, v·ªõi ƒëi·ªÅu ki·ªán n·∫øu ttb < 20 => poor girl, ng∆∞·ª£c l·∫°i l√† rich girl:
def check_total_bill(r):
    if r['total_bill'] < 20:
        return 'poor girl'
    else:
        return 'rich girl'

df.loc[df.sex == 'Female', 'female_cus_type'] = df.apply(check_total_bill, axis=1)

In [ ]:
# option 2: using loc:
%time
df.loc[df.tip < 3, 'cus_type_2'] = 'low tip'
df.loc[df.tip >= 3, 'cus_type_2'] = 'high tip'

## 4- Working with time-series:

<img src='https://media.giphy.com/media/jq07NJW0WA0I5Q7qQ4/giphy.gif' width=600>

**Pandas** was developed in the context of financial modeling, so as you might expect, it contains a fairly extensive set of tools for working with dates, times, and time-indexed data. Date and time data in Pandas comes in three types:

In [ ]:
import numpy as np
from datetime import datetime

In [ ]:
! pip install numpy

In [ ]:
dftime = pd.read_excel('data\datetime_demo.xlsx')
dftime.head()

üëâ Convert to datetime format:

In [ ]:
dftime.launched = pd.to_datetime(dftime.launched)
dftime['deadline'] = pd.to_datetime(dftime['deadline'])

üëâ Convert to datetime with format:

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
# Below casting to datetime code will result to error because Python not smart enough to understand the messy date:
dftime['messy_date'] = pd.to_datetime(dftime['messy_date'])

In [ ]:
dftime['messy_date'] = pd.to_datetime(dftime['messy_date'], format = r'&%m\\%Y%d')

üëâ Timestamp:

**Pandas** builds upon both Python and Numpy to provide a **Timestamp** object, which combines the ease-of-use of Python `datetime` and `dateutil` with the efficient storage and vectorized interface of `numpy.datetime64`. From a group of these **Timestamp** objects, Pandas can construct a DatetimeIndex that can be used to index data in a Series or DataFrame; we'll see many examples of this below.

Oftentimes, time-series data is read as string datatype. We can use Pandas tools to parse a flexibly formatted string date to timestamp.

In [ ]:
start = pd.to_datetime('12/21/2015')
start

In [ ]:
# get timestamp right now:
now = pd.Timestamp.now()
now

üëâ TimeDelta:

As mentioned at the beginning, TimeDelta is the difference in duration of two moments. In Pandas, a timedelta can be created by taking the difference of two timestamps.

In [ ]:
start = pd.to_datetime('02/02/2015')
stop = pd.to_datetime('03/02/2015')

stop-start

In [ ]:
now + 15

In [ ]:
now + pd.to_timedelta(15, unit='D')

In [ ]:
# You can't directly add a number to a date
# First you have to convert the number to timedelta datatype
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_timedelta.html

# C·ªông th√™m 15 ng√†y t·ª´ b√¢y gi·ªù
now + pd.to_timedelta(15, 'D')

üëâ Extract the value at a certain timeunit (day, month, year, etc) from a SERIES of timestamp:
```python
        # Extract year, month, day
        date_series.dt.year
        date_series.dt.month
        date_series.dt.day

        # Extract hour, minute, second
        date_series.dt.hour
        date_series.dt.minute
        date_series.dt.second

        # Extract dayofweek, week, quarter
        date_series.dt.dayofweek
        date_series.dt.isocalendar().week
        date_series.dt.quarter

        # Extract year-month
        date_series.dt.to_period('M')
```

In [ ]:
dftime.head()

In [ ]:
# Extract only year from launched field:
dftime['launched_year']  = dftime['launched'].dt.year
dftime

In [ ]:
# Extract only hour from launched field:
dftime['launched_hour'] = dftime['launched'].dt.hour
dftime.head()

In [ ]:
# Extract year-month from deadline field:
# Your code here:
dftime['deadline_year_month'] = dftime['deadline'].dt.to_period('M')
dftime

> For more detail about `np.timedelta64()` you can read on: https://numpy.org/doc/stable/reference/arrays.datetime.html