# 1- Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## 1.1- Types of numbers

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

## 1.2- Basic Arithmetic

In [1]:
# Addition
2 + 1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*5

10

In [4]:
# Division
3/2

1.5

In [6]:
# Floor Division (Lấy phần nguyên)
5//2, 5/2

(2, 2.5)

In [7]:
# Modulo (Lấy phần dư)
5%2

1

In [8]:
# Powers
2**3

8

In [9]:
# Can also do roots this way
4**0.5

2.0

In [10]:
16**0.5

4.0

In [11]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [12]:
# Can use parentheses to specify orders
(2+1) * (1+3)

12

# 2- Variable Assignments

In [13]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [14]:
# Gọi a:
a

5

In [15]:
print(a)

5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [16]:
# Adding the objects
a + 20

25

What happens on reassignment? Will Python let us write it over?

In [17]:
# Reassignment
a = 10
a

10

In [ ]:
# Check
a

In [18]:
# Use A to redefine A
a = a + a

In [19]:
# Check 
a

20

**❓ Given pi = 3.14, diagram = 3, pls help me calculate the area of circle?**

In [20]:
# your code here
pi = 3.14
d = 3

s = (d/2)**2*pi
s

7.065

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [21]:
my_dogs = 2
my_dogs

2

In [22]:
# Xem kieu du lieu cua bien my_dogs:
type(my_dogs) #integer

int

In [23]:
my_dogs = 'Hello'
my_dogs

'Hello'

In [24]:
# check data type again:
type(my_dogs)

str

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [25]:
a = 5
a = a + 10
a

15

In [26]:
a = 5
a += 10 # <=> a = a + 10
a

15

In [27]:
a = 5
a *= 2 # mean: a = a * 2
a

10

In [28]:
a = 10
a -= 3
a

7

In [29]:
a

7

# 3 - String

In [1]:
# define a string 
'hello hihi 10'

'hello hihi 10'

In [2]:
"xin chào mọi người"

'xin chào mọi người'

In [ ]:
# Entire phrase 
'A mây zing gút chóp bạn!'

In [ ]:
# We can also use double quote
"A mây zing gút chóp bạn!"

In [3]:
# Be careful with quotes!
'Câu này chứa dấu nháy đơn ', và nó báo lỗi :('

SyntaxError: unterminated string literal (detected at line 2) (3198974725.py, line 2)

In [4]:
"Câu này chứa dấu nháy đơn ', và nó báo lỗi :("

"Câu này chứa dấu nháy đơn ', và nó báo lỗi :("

In [5]:
s = 'tôi đến từ "Việt Nam"'
s

'tôi đến từ "Việt Nam"'

In [7]:
type(s)

str

Now let's learn about printing strings!

## 3.1 Printing a String

<img src="https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2021/08/26053816/Python-print.jpg" width="600">

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
'A mây zing gút chóp bạn!'

We can use a print statement to print a string.

In [9]:
print('Python in my hands!')

Python in my hands!

In [10]:
print('Python in my hands', 'hello world')

Python in my hands hello world

In [13]:
# Ngăn cách 2 chuỗi trong hàm print bằng dấu "-"
print('Python in my hands', 'hello world', 'hihi', sep = '+==>')

Python in my hands+==>hello world+==>hihi

In [15]:
print('Python \nin my hands', 'hello world')

Python
in my hands hello world

In [ ]:
print('Python in my hands', 'hello world', sep = '==')

In [16]:
print('Python in my hands', 'hello world', sep = '\n')

Python in my hands
hello world

In [17]:
print('the first line')
print('the second line')

the first line
the second line

In [21]:
print('the first line', end = ' ')
print('the second line')

the first line the second line

We can also use a function called len() to check the length of a string!

In [22]:
len('hello world')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## 3.2 String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [23]:
# Assign s as a string
s = 'Hello World'

In [24]:
# Print the object
print(s)

Hello World

Let's start indexing!

![alternatvie text](https://i.ibb.co/DtfrbP2/1.png)

In [25]:
# Show first element (in this case a letter)
s[0]

'H'

In [28]:
# Show the last letter:
s[10], s[-1]

('d', 'd')

In [27]:
# lấy chữ w:
s[6]

'W'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [32]:
s

'Hello World'

In [30]:
# Lấy từ đầu đến hết và bỏ đi ký tự đầu tiên:
s[1:]

'ello World'

In [ ]:
s

In [31]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

❓ Can you guess?

s[2:8]

We can also use negative indexing to go backwards.

In [33]:
s[2: 8]

'llo Wo'

In [34]:
# Last letter (one index behind 0 so it loops back around)
s[-1], s[10]

('d', 'd')

In [35]:
# Grab everything but the last letter
s[: -1]

'Hello Worl'

In [36]:
# Grab everything, but go in steps size of 1
s

'Hello World'

In [37]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [39]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [40]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [41]:
# We can reassign s completely though!
s = s + " I'm from Vietnam!"

In [42]:
print(s)

Hello World I'm from Vietnam!

We can use the multiplication symbol to create repetition!

In [43]:
letter = 'z'

In [44]:
letter*10

'zzzzzzzzzz'

## 3.3 Popular Built-in String methods

In [ ]:
s

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [ ]:
# Title case
s.title()

In [ ]:
# Split a string by blank space (this is the default)
s.split("World")

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('from')

In [ ]:
# Strip!:
text = '   câu này có vài khoảng trắng ở 2 đầu '
text

In [ ]:
text.strip()

In [ ]:
# get Index of the first 'e' in string s:
s.index('e')

In [ ]:
# get the second 'e' in string s:
first_e_index = s.index('e')
second_e_index = s.index('e', first_e_index + 1)

first_e_index, second_e_index

In [ ]:
# Replace: replace "Vietnam" to "Viet Nam"

## 3.4 Connecting strings

*Only strings can join together!*

In [ ]:
name = 'Tam'
grade = 1
sen = 'Tôi tên là ' + name + '. Tôi đang học lớp ' + grade

sen

In [ ]:
# Others way to do it!
sen = 'Tôi tên là {}. Tooi học lớp python {}, {}'.format(name, grade, 10)
sen

In [ ]:
# One more way to do it!
sen = f'Tôi tên là {name}, tôi học lớp python {grade}'
sen

In [ ]:
# One more way to do it!
sen = f'My name is {name}. My grade is {1+7}'
sen

# 4- Comparison Operators

![image](https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png)

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
2 == 2

In [ ]:
1 == 0

In [ ]:
type(2==2)

In [ ]:
(2<1)

In [ ]:
(2==2) + (5>2) + (1 == 0)

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [ ]:
2 != 1

In [ ]:
2 != 2

#### Greater Than

In [ ]:
2 > 1

In [ ]:
2 > 4

#### Less Than

In [ ]:
2 < 4

In [ ]:
2 < 1

#### Greater Than or Equal to

In [ ]:
2 >= 2

In [ ]:
2 >= 1

#### Less than or Equal to

In [ ]:
2 <= 2

In [ ]:
2 <= 4

## Boolean logical operators

**and**: The `and` operator returns `True` when `both` the conditions evaluate to `True`. Otherwise, it returns `False`.

**or**: operator returns `True` if `at least one` of the conditions evaluates to `True`. It returns `False` only if `both conditions are False`.

![img](https://i.ibb.co/wJ2hm4n/2.png)

In [ ]:
1<2 and 2<3

In [ ]:
1<3 and 3>4

In [ ]:
1==2 or 2<3

In [ ]:
1==1 or 100==1

In [ ]:
2< 1 or 3 == 5

# 5 - Input()

In [ ]:
input('What is your name?')

In [ ]:
int(input('input your age pls:'))

In [ ]:
name = input('What is your name?')
# Show your name
name

# 😏 Challenge: 

**Write a program to generate band name. The band name should be following below rule:**

```python
band_name = your_home_town + your_pet_name + your_pet_name_length

# Where: 
`your_home_town` and `your_pet_name` was defined by your input

# Example:
your_home_town = 'Bình Định'
your_pet_name = 'Milu'
your_pet_name_length = 4

# Result should be:
band_name = 'Bình Định Milu 4'
```

In [ ]:
# Your code here